<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <target xsi:type="File" name="default" fileName="logs\${shortdate}-all.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="reader" fileName="logs\${shortdate}-reader.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="worker" fileName="logs\${shortdate}-worker.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="writer" fileName="logs\${shortdate}-writer.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=tostring}" />

  </targets>

  <rules>
<!--    <logger name="*" minlevel="Trace" writeTo="default" />-->
<!--    <logger name="GZipTest.Concrete.ReaderCommand" minlevel="Trace" writeTo="reader" />-->
<!--    <logger name="GZipTest.Concrete.WorkerCommand" minlevel="Trace" writeTo="worker" />-->
<!--    <logger name="GZipTest.Concrete.WriterCommand" minlevel="Trace" writeTo="writer" />-->
  </rules>
</nlog>
